<div class="col-md-10">
	<div class="row">
		<div class="col-md-12">
			<div class="content-box-header">
				<div class="panel-title">Error Page</div>
			<div class="panel-options">
				<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
				<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
			</div>
			</div>
			<div class="content-box-large box-with-header">
				<pre><%= message %></pre>
				<pre><%= error.status %></pre>
				<pre><%= error.stack %></pre>

			</div>
		</div>

	</div>
</div>