<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
  	<% include partial/header.ejs%>
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<% include partial/navmenu.ejs%>
		  </div>
		  	<%- body%>
		</div>
    </div>
    <% include partial/footer.ejs%>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>