<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        <li class="submenu">
            <a href="javascript:void(0)">
                <i class="glyphicon glyphicon-user"></i> Users
                <span class="caret pull-right"></span>
            </a>
            <ul>
                <li><a href="/user/add">New User</a></li>
                <li><a href="/user">Manage Users</a></li>
            </ul>
        </li>

        <li class="submenu">
            <a href="javascript:void(0)">
                <i class="glyphicon glyphicon-book"></i> Books
                <span class="caret pull-right"></span>
            </a>
            <ul>
                <li><a href="/book/add">New Book</a></li>
                <li><a href="/book">Manage Books</a></li>
            </ul>
        </li>
    </ul>
 </div>